# Grand Circus Capstrone Project 02
IMDB MOVIES/SHOWS REPORT
Three datasets:
- title.basics.tsv.gz
- title.ratings.tsv.gz

In [17]:
import pandas as pd
import numpy as np
import seaborn as sns

### Load name.basics.tsv

In [23]:
file1 = r"C:\Users\j\Downloads\Day039Data\name.basics.tsv"
df1 =  pd.read_csv(file1, sep='\t')
print(df1.head(20))
df1.shape

       nconst          primaryName birthYear deathYear  \
0   nm0000001         Fred Astaire      1899      1987
1   nm0000002        Lauren Bacall      1924      2014
2   nm0000003      Brigitte Bardot      1934        \N
3   nm0000004         John Belushi      1949      1982
4   nm0000005       Ingmar Bergman      1918      2007
5   nm0000006       Ingrid Bergman      1915      1982
6   nm0000007      Humphrey Bogart      1899      1957
7   nm0000008        Marlon Brando      1924      2004
8   nm0000009       Richard Burton      1925      1984
9   nm0000010         James Cagney      1899      1986
10  nm0000011          Gary Cooper      1901      1961
11  nm0000012          Bette Davis      1908      1989
12  nm0000013            Doris Day      1922      2019
13  nm0000014  Olivia de Havilland      1916      2020
14  nm0000015           James Dean      1931      1955
15  nm0000016      Georges Delerue      1925      1992
16  nm0000017     Marlene Dietrich      1901      1992
17  nm0000018         Kirk Douglas      1916      2020
18  nm0000019     Federico Fellini      1920      1993
19  nm0000020          Henry Fonda      1905      1982

                        primaryProfession  \
0          soundtrack,actor,miscellaneous
1                      actress,soundtrack
2     actress,soundtrack,music_department
3                 actor,soundtrack,writer
4                   writer,director,actor
5             actress,soundtrack,producer
6               actor,soundtrack,producer
7               actor,soundtrack,director
8               actor,soundtrack,producer
9               actor,soundtrack,director
10                actor,soundtrack,stunts
11  actress,soundtrack,make_up_department
12            soundtrack,actress,producer
13                     actress,soundtrack
14                    actor,miscellaneous
15   composer,soundtrack,music_department
16    soundtrack,actress,music_department
17              actor,producer,soundtrack
18                  writer,director,actor
19              actor,producer,soundtrack

                             knownForTitles
0   tt0053137,tt0072308,tt0050419,tt0045537
1   tt0075213,tt0038355,tt0037382,tt0117057
2   tt0054452,tt0057345,tt0049189,tt0056404
3   tt0080455,tt0072562,tt0077975,tt0078723
4   tt0050986,tt0050976,tt0060827,tt0069467
5   tt0038109,tt0034583,tt0036855,tt0038787
6   tt0034583,tt0043265,tt0042593,tt0037382
7   tt0068646,tt0078788,tt0047296,tt0070849
8   tt0059749,tt0061184,tt0087803,tt0057877
9   tt0035575,tt0031867,tt0042041,tt0029870
10  tt0044706,tt0035896,tt0034167,tt0027996
11  tt0031210,tt0035140,tt0042192,tt0056687
12  tt0053172,tt0048317,tt0045591,tt0049470
13  tt0041452,tt0040806,tt0029843,tt0031381
14  tt0048028,tt0120956,tt0049261,tt0048545
15  tt0091763,tt8847712,tt0069946,tt0096320
16  tt0055031,tt0052311,tt0051201,tt0021156
17  tt0049456,tt0054331,tt0050825,tt0043338
18  tt0071129,tt0056801,tt0050783,tt0047528
19  tt0082846,tt0032551,tt0051207,tt0050083

(12548289, 6)

### Load title.akas.tsv

In [30]:
file2 = r"C:\Users\j\Downloads\Day039Data\title.akas.tsv"
df2 =  pd.read_csv(file2, sep='\t')
print(df2.head(20))
df2.shape

C:\Users\j\AppData\Local\Temp\ipykernel_12892\2162114105.py:2: DtypeWarning: Columns (7) have mixed types. Specify dtype option on import or set low_memory=False.
  df2 =  pd.read_csv(file2, sep='\t')

      titleId  ordering                      title region language  \
0   tt0000001         1                 Карменсіта     UA       \N
1   tt0000001         2                 Carmencita     DE       \N
2   tt0000001         3  Carmencita - spanyol tánc     HU       \N
3   tt0000001         4                 Καρμενσίτα     GR       \N
4   tt0000001         5                 Карменсита     RU       \N
5   tt0000001         6                 Carmencita     US       \N
6   tt0000001         7                 Carmencita     \N       \N
7   tt0000001         8                    カルメンチータ     JP       ja
8   tt0000002         1     Le clown et ses chiens     \N       \N
9   tt0000002         2     Le clown et ses chiens     FR       \N
10  tt0000002         3          A bohóc és kutyái     HU       \N
11  tt0000002         4  Der Clown und seine Hunde     DE       \N
12  tt0000002         5      Clovnul si cainii sai     RO       \N
13  tt0000002         6         Клоун и его собаки     RU       \N
14  tt0000002         7     The Clown and His Dogs     US       \N
15  tt0000002         8                      道化師と犬     JP       ja
16  tt0000003         1           Sarmanul Pierrot     RO       \N
17  tt0000003         2            Szegény Pierrot     HU       \N
18  tt0000003         3                     哀れなピエロ     JP       ja
19  tt0000003         4               Бідний П'єро     UA       \N

          types             attributes isOriginalTitle
0   imdbDisplay                     \N               0
1            \N          literal title               0
2   imdbDisplay                     \N               0
3   imdbDisplay                     \N               0
4   imdbDisplay                     \N               0
5   imdbDisplay                     \N               0
6      original                     \N               1
7   imdbDisplay                     \N               0
8      original                     \N               1
9   imdbDisplay                     \N               0
10  imdbDisplay                     \N               0
11           \N          literal title               0
12  imdbDisplay                     \N               0
13  imdbDisplay                     \N               0
14           \N  literal English title               0
15  imdbDisplay                     \N               0
16  imdbDisplay                     \N               0
17  imdbDisplay                     \N               0
18  imdbDisplay                     \N               0
19  imdbDisplay                     \N               0

(35994986, 8)

### Load title.basics.tsv"

In [ ]:
file3 = r"C:\Users\j\Downloads\Day039Data\title.basics.tsv"
df3 =  pd.read_csv(file3, sep='\t')
df3.head(20)
df3.shape

In [ ]:
### Load title.crew

In [ ]:
file4 = r"C:\Users\j\Downloads\Day039Data\title.crew.tsv"
df4 =  pd.read_csv(file1, sep='\t')
df4.head(20)
df4.shape

In [31]:
file1 = r"C:\Users\j\Downloads\Day039Data\name.basics.tsv"
file2 = r"C:\Users\j\Downloads\Day039Data\title.akas.tsv"
file3 = r"C:\Users\j\Downloads\Day039Data\title.basics.tsv"
file4 = r"C:\Users\j\Downloads\Day039Data\title.crew.tsv"

file5 = r"C:\Users\j\Downloads\Day039Data\title.episode.tsv"
file6 = r"C:\Users\j\Downloads\Day039Data\title.principals.tsv"
file7 = r"C:\Users\j\Downloads\Day039Data\title.ratings.tsv"

# Analysis ideas...
1. Compare Genre vs Rating - identify the most popular genre
1. Compare actor with the rating for their movies
- Average the rating for all of their movies, also include a count of their movies.
1. Average rating by decade of the movie.
1. Runtime compared to date - are newer movies getting longer
1. Compare remankes.
- How do the ratings compare.
- How far apart is the remake from the original
- How does this timeframe affect the rating?

# Which tables do we need?