# Notes from May 8 class

## 1 - PostgreSQL using psycopg2

In [1]:
import pandas as pd
import numpy as np
import psycopg2

In [2]:
conn = psycopg2.connect("dbname=northwind user=myuser password=mypassword")

In [3]:
DB_NAME = 'mydb'
DB_USER = 'myuser'
DB_PASS = 'mypassword'
DB_HOST = 'localhost'
DB_PORT = '5432'

try:
    conn = psycopg2.connect("dbname=northwind user=myuser password=mypassword")
    # conn = psycopg2.connect( database = DB_NAME,
    #                  user = DB_USER,
    #                  host = DB_HOST,
    #                  password = DB_PASSWORD,
    #                  port = DB_PORT)
    print('Conected')
except:
    print('cpnnection error')

Conected

In [4]:
sql_cmd = '''
    SELECT table_name
    FROM information_schema.tables
    WHERE table_schema = 'public'
    ORDER BY table_name'''
print(sql_cmd)

    SELECT table_name
    FROM information_schema.tables
    WHERE table_schema = 'public'
    ORDER BY table_name

In [5]:

data = pd.read_sql_query(sql_cmd, conn)

C:\Users\j\AppData\Local\Temp\ipykernel_1628\3308259458.py:1: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  data = pd.read_sql_query(sql_cmd, conn)

In [6]:
print(data)

                table_name
0               categories
1   customer_customer_demo
2    customer_demographics
3                customers
4                 employee
5     employee_territories
6                employees
7            order_details
8                   orders
9                 products
10                  region
11                shippers
12               suppliers
13             territories
14               us_states

### 1. Create a new table in python

In [7]:
cur = conn.cursor()

#  Exrcute a query tp cretate a table...
cur.execute("""
CREATE TABLE employee
(
    ID INT PRIMARY KEY NOT NULL,
    NAME TEXT NOT NULL,
    EMAIL TEXT NOT NULL
)
""")
conn.commit()
print("table created successfully")

DuplicateTable: relation "employee" already exists

In [8]:

data2 = pd.read_sql_query(sql_cmd, conn)
print(data2)

                table_name
0               categories
1   customer_customer_demo
2    customer_demographics
3                customers
4                 employee
5     employee_territories
6                employees
7            order_details
8                   orders
9                 products
10                  region
11                shippers
12               suppliers
13             territories
14               us_states

C:\Users\j\AppData\Local\Temp\ipykernel_1628\346126244.py:2: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  data2 = pd.read_sql_query(sql_cmd, conn)

In [9]:
sql_cmd3 = "SELECT * FROM employee"
data3 = pd.read_sql_query(sql_cmd3, conn)
print(data3)

Empty DataFrame
Columns: [id, name, email]
Index: []

C:\Users\j\AppData\Local\Temp\ipykernel_1628\1315677750.py:2: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  data3 = pd.read_sql_query(sql_cmd3, conn)

In [13]:
cur.execute("""
    INSERT INTO employee (ID, NAME, EMAIL) VALUES
    (1, 'Joe Cool', 'jc@nowhere.com'),
    (2, 'Jerry Springer', 'js@nowhere.com')
""")
conn.commit()

In [15]:
# conn.rollback()
sql_cmd4 = "SELECT * FROM employee"
data4 = pd.read_sql_query(sql_cmd4, conn)
print(data4)

   id            name           email
0   1        Joe Cool  jc@nowhere.com
1   2  Jerry Springer  js@nowhere.com

C:\Users\j\AppData\Local\Temp\ipykernel_1628\3361690415.py:3: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  data4 = pd.read_sql_query(sql_cmd4, conn)

In [16]:
cur.execute("""
    UPDATE employee 
    SET EMAIL = 'JoeC@nowhere.com'
    WHERE ID = 1""")
conn.commit()
sql_cmd4 = "SELECT * FROM employee"
data4 = pd.read_sql_query(sql_cmd4, conn)
print(data4)

   id            name             email
0   2  Jerry Springer    js@nowhere.com
1   1        Joe Cool  JoeC@nowhere.com

C:\Users\j\AppData\Local\Temp\ipykernel_1628\1545311992.py:7: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  data4 = pd.read_sql_query(sql_cmd4, conn)

In [19]:
cur.execute("""
    DELETE FROM employee 
    WHERE ID = 1""")
conn.commit()
sql_cmd5 = "SELECT * FROM employee"
data5 = pd.read_sql_query(sql_cmd5, conn)
print(data5)
print(pd.read_sql_query(sql_cmd5, conn))

   id            name           email
0   2  Jerry Springer  js@nowhere.com

C:\Users\j\AppData\Local\Temp\ipykernel_1628\303857042.py:8: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  print(pd.read_sql_query(sql_cmd5, conn))

In [20]:
cur.execute("""
    DROP TABLE IF EXISTS employee """)
conn.commit()
# sql_cmd5 = "SELECT * FROM employee"
# data5 = pd.read_sql_query(sql_cmd5, conn)
# print(data5)
print(pd.read_sql_query(sql_cmd5, conn))

C:\Users\j\AppData\Local\Temp\ipykernel_1628\3498643981.py:7: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  print(pd.read_sql_query(sql_cmd5, conn))

DatabaseError: Execution failed on sql 'SELECT * FROM employee': relation "employee" does not exist
LINE 1: SELECT * FROM employee
                      ^

In [22]:
sql_cmd = '''
    SELECT table_name
    FROM information_schema.tables
    WHERE table_schema = 'public'
    ORDER BY table_name'''
print(sql_cmd)
print("-"*80)
data = pd.read_sql_query(sql_cmd, conn)
print(data)

    SELECT table_name
    FROM information_schema.tables
    WHERE table_schema = 'public'
    ORDER BY table_name
--------------------------------------------------------------------------------
                table_name
0               categories
1   customer_customer_demo
2    customer_demographics
3                customers
4     employee_territories
5                employees
6            order_details
7                   orders
8                 products
9                   region
10                shippers
11               suppliers
12             territories
13               us_states

C:\Users\j\AppData\Local\Temp\ipykernel_1628\3879726544.py:8: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  data = pd.read_sql_query(sql_cmd, conn)

In [23]:
conn.close()

### Reading a google sheet...
import gspread
from oauth2client.service_account import ServiceAccountCredentials
import pandas as pd

# set up credentials
scope = ['https://www.googleapis.com/auth/drive']
creds = ServiceAccountCredentials.from_json_keyfile_name('path/to/service/account/keyfile.json', scope)
client = gspread.authorize(creds)

# open the Google Sheet
sheet = client.open('Name of the Google Sheet').worksheet('Name of the Worksheet')

# read the data into a Pandas DataFrame
data = sheet.get_all_values()
df = pd.DataFrame(data[1:], columns=data[0])
https://gspread.readthedocs.io/en/latest/oauth2.html#for-bots-using-service-account

Links:
- https://plotly.com/python/
- https://www.python-graph-gallery.com/
- https://colab.research.google.com/drive/1g_LHeU7m4ikOs03K__sMN7eTvtJF7h68?usp=sharing