
# Day 20: Student Grades - Descriptive Statistics

[Requirements documentation](https://docs.google.com/document/d/1KUJ0mc4Ioz65jiGHGdkl1yQic8zIF7iijadtulodUvQ/edit#heading=h.rfelkkkw1wcf)

Date Written: 04/13/2023
Author: Joseph P. Merten


### Import required libraries.  In this case pandas...

In [54]:
import pandas as pd
import statistics


### Set up a dictionary with the student data and convert it to a data frame.

In [55]:
student_data = {
    "Name": ["Adam", "Anna", "James", "Corey", "Alisha", "Jodie", "John"],
    "Math": [11, 12, 11, 7, 9.5, 15, 18],
    "Science": [9, 11, 18, 15.5, 12, 18.5, 15.5],
    "Reading": [16, 8.5, 11.5, 11, 10.5, 7, 11],
    "History": [13.5, 10, 9, 14, 14, 12, 7.5]
}
student_df = pd.DataFrame.from_dict(student_data)
  
student_df

     Name  Math  Science  Reading  History
0    Adam  11.0      9.0     16.0     13.5
1    Anna  12.0     11.0      8.5     10.0
2   James  11.0     18.0     11.5      9.0
3   Corey   7.0     15.5     11.0     14.0
4  Alisha   9.5     12.0     10.5     14.0
5   Jodie  15.0     18.5      7.0     12.0
6    John  18.0     15.5     11.0      7.5


### Convert this dictionary to a data frame.


### Question 1:

Consider the following midterm grades for students taking math, science, reading, and history (each grade is calculated out of a maximum of 20 points).  

1. Calculate the mean for each individual subject.
1. Find the median grade in Math for all students.
1. Calculate the mode for History.

In [56]:
 student_df[["Math", "Science", "Reading", "History"]].mean()

Math       11.928571
Science    14.214286
Reading    10.785714
History    11.428571
dtype: float64


### Question 2:

Given the following grades from Question 1, calculate the correlation between the different subjects. What two subjects have the strongest correlation?

A) Math and science have the strongest correlation at 0.269.  I find the negative correlation between math & reading interesting.

In [57]:
student_df.corr()

             Math   Science   Reading   History
Math     1.000000  0.269494 -0.268562 -0.718358
Science  0.269494  1.000000 -0.527606 -0.358688
Reading -0.268562 -0.527606  1.000000  0.206794
History -0.718358 -0.358688  0.206794  1.000000


### Question 3:

Consider the following numbers representing the grades from the most recent exam in a math class:

[24, 5, 15, 60, 54, 82, 99, 80, 70, 98, 93, 60, 33, 22, 65, 61, 51, 58, 83, 86, 42, 67, 60]

Write a Python function named desc_stats() that takes a list of numbers and prints the following statistical calculations:
- Mean
- Median
- Mode
- Minimum
- Maximum
- Range
- Variance
- Standard deviation


### Define the function...

In [58]:
def desc_stats(my_list):
    my_list.sort()
    print(f"Mean: {statistics.mean(my_list)}")
    print(f"Median: {statistics.median(my_list)}")
    print(f"Mode: {statistics.mode(my_list)}")
    print(f"Minimum: {min(my_list)}")
    print(f"Maximum: {max(my_list)}")
    print(f"Range: {my_list[-1] - my_list[0]}")
    print(f"Variance: {statistics.pvariance(my_list)}")
    print(f"Standard deviation: {statistics.pstdev(my_list)}")
    print(my_list)


### Run the function...

In [59]:
desc_stats([24, 5, 15, 60, 54, 82, 99, 80, 70, 98, 93, 60, 33, 22, 65, 61, 51, 58, 83, 86, 42, 67, 60])

Mean: 59.47826086956522
Median: 60
Mode: 60
Minimum: 5
Maximum: 99
Range: 94
Variance: 664.1625708884688
Standard deviation: 25.771351747404886
[5, 15, 22, 24, 33, 42, 51, 54, 58, 60, 60, 60, 61, 65, 67, 70, 80, 82, 83, 86, 93, 98, 99]


### Extended Challenge:

Interpret the results. If you were the instructor of the class, would you curve the grade? Assume:

0-100 is the possible range of scores

The grade scale is:
- F: 0-60
- D: 60-70
- C: 70-80
- B: 80-90
- A: 90-100

Think about the grade scale and use the information from your desc_stats() to justify your results.


### Interpretation:

Well, with that grading scsale, over half the students would fail.

The average score of 60 seems to be well represented.  I would divide the distribution by the middle two standard deviations.  Anything above the first standard devition (60+26 = 86) would count as an 'A'.  Anything below the lower standard deviation (60 - 26 - 34) would be counted as an 'F'.  I would then divide the middle two standard deviations into thirds to represent 'B', 'C' and 'D'.  The difference would be 52, which divided by 3 would be 17.  This approach would give me the following grading scale:
  
 0-34: F
35-51: D
52-68: C
69-85: B
 86+:  A
 
Since 52 doesn't divide evenly into 3, I left the extra point in the B range.

NOTE:  Just being picky, but the original grading scale has overlap.  If a student scores 60, that could eiterh be an F or a D.  Each grade has a one point overlap with the previous grade.